@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Lora:ital,wght@1,500;1,600&family=Montserrat:wght@300;400&family=Roboto:ital,wght@1,300;1,400&display=swap');


:root{
    --lato: 'Lato', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --lora: 'Lora', serif;
    --monsterrat: 'Monsterrat', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}


html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/welcome-banner.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
}
.navigation{
    width: 100%;
    height: 8vh;
}
#overlay{
    width: 100%;
    height: 100%;
    background: rgba(42,45,84,.60);
}
.container{
    max-width: 90%;
    margin: 0 auto;   
}
.navbar{
    width: 100%;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav__logo{
    letter-spacing: 3px;
    font-family: var(--lora);
}
.navbar__nav a{
    text-align: center;
display: inline;
margin-left: 20px;
margin-right: 10px;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 0.9rem;
font-family: var(--lato);
font-weight: 600;
transition: all 0.5s ease;
letter-spacing: 1px;
}
.navbar__nav a:hover{
    color: #4146FA;
}
.navbar__nav a:nth-child(1){
    color: #4146FA;
}
.header .banner{
    width: 100%;
    height: 100%;
    text-align: center;
}
.header .banner p{
    margin-top: 16rem;
    width: 100%;
    font-size: 1.1rem;
    color: #fff;
    position: absolute;
}
.header .banner h1{
    margin-top: 11rem;
    width: 100%;
    font-size: 3rem;
    color: #fff;
    position: absolute;
}
.header .banner button:hover{
    background-color: #20266b;
}
.navbar i{
    display: none;
}
.header .banner button{
    margin-top: 19rem;
    padding: 13px 50px;
    transition: all 0.5s ease;
    color: #fff;
    background-color: #4146FA;
    border: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: var(--lato);
}
.largest{
    width: 100%;
    height: 60vh;
    margin-top: 10rem;
}
.largest .largest__content{
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(3,1fr);
}
.largest .largest__content .item{
    display: block;
    text-align: center;
    padding: 35px 50px;
    transition: all 0.5s linear;
    border: 1px solid rgb(221, 218, 213);
}
.largest .largest__content .item:hover{
   background-color: #4146FA;
    color: #fff;
}
.largest .largest__content .item h2{
    margin-top: 3rem;
    font-size: 1.3rem;
    opacity: 0.8;
}
.largest .largest__content .item p{
    font-size: 1rem;
    margin-top: 2rem;
    opacity: 0.7;
    font-weight: 600;
}
.largest .largest__content .item span{
    margin-top: 5rem;
    color: #4146FA;
    font-size: 3rem;
}
.largest .largest__content .item:hover span{
    color: #fff;
}
.newest{
    width: 100%;
    height: 80vh;
}
.newest .title {
    text-align: center;
    margin-bottom: 2rem;
}
.newest .title h4{
    font-size: 1rem;
    opacity: 0.8;
}
.newest .title h2{
    font-size: 2.6rem;
    opacity: 0.8;
}
.newest .title span{
    color: #4146FA;
    font-size: 3rem;
}
.newest .newest__content{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2,1fr);
}
.newest .newest__content h3{
    opacity: 0.8;
    font-size: 2.3rem;
}
.newest .newest__content .item__img{
    width: 90%;
}
.newest .newest__content .item p{
    opacity: 0.6;
    font-weight: 600;   
    display: flex;
}
.newest .newest__content .item h5{
    opacity: 0.5;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    
}

.newest .newest__content .item button{
    padding: 10px 25px;
    background-color: #4146FA;
    border: 0;
    margin-right: 20rem;
    color: #ffffff;
    font-size: 1rem;
}

.featured{
    width: 100%;
    margin-top: 5rem;
    height: 100vh;
}
.featured .title{
    text-align: center;
    margin-bottom: 5rem;
}
.featured .title h5{
    font-size: 1rem;
    opacity: 0.7;
}
.featured .title h2{
    opacity: 0.8;
    font-size: 2.4rem;
}
.featured .title span{
    font-size: 3rem;
    color: #4146FA;
}
.featured .featured__content{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4,1fr);
}
.featured .item .img{
    border: 1px solid rgb(199, 198, 197);
    padding: 2rem 0 ;
}
.featured .item .img img{
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}

.featured .item .itemm{
   border-top: 1px solid rgb(199, 198, 197);
}
.featured .item .itemm h6{
    margin-left: 10px;
    opacity: 0.4;
    font-size: 0.9rem;
}
.featured .item .img img{
   margin-bottom: 1rem;
}
.featured .item h4{
    font-size: 1rem;
}
.featured .item span{
    font-size: 0.9rem;
}
.featured .item p{
    font-size: 0.8rem;
    opacity: 0.5;
    font-weight: 600;
}

.featured .featured__contact{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4,1fr);
}


.client{
    width: 100%;
    height: 100vh;
    margin-top: 40rem;
}
.client .client__content{
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(3,1fr);
}
.client .client__content .item{
    display: block;
    text-align: center;
    padding: 35px 50px;
    transition: all 0.5s linear;
    border: 1px solid rgb(221, 218, 213);
}
.client .client__content .item p{
    opacity: 0.6;
    font-weight: 600;
}
.client .client__content .item:hover{
   background-color: #4146FA;
    color: #fff;
}
.client .client__content .img img{
    width: 30%; 
    line-height: 2;
    margin: 0 auto;
}
.client .client__content h3{
    font-size: 1rem;
    opacity: 0.8;
    line-height: 2;
}
.client .title{
    text-align: center;
}
.client .title h2{
    font-size: 2rem;
}
.client .title span{
    font-size: 2rem;
    color: #4146FA;
}
.acer{
    width: 100%;
    height: 100%;
    margin-bottom: 8rem;
}
.acer .acer__content{
    display: grid;
    gap: 7rem;

    grid-template-columns: repeat(6,1fr);
}
.footer {
    width: 100%;
    background-color: #2A2D54;
    height: 80vh;
}

.footer .footer__contact{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5,1fr);
}
.footer .footer__contact .item{
    margin-top: 7rem;
}
.footer .footer__contact .item h2{
    color: #fff;
    font-family: var(--lora);
    font-weight: 600;
}
.footer .footer__contact .item p{
    color: #fff;
    font-family: var(--lato);
    font-weight: 400;
    margin-top: 2rem;
}
.footer .footer__contact .item h4{
    color: #fff;
    font-size: 1rem;
    line-height: 2;
}
.footer .footer__contact .item2{
    margin-top: 7rem; 
    line-height: 2;  
}
.footer .footer__contact .item2 h3{
    color: #fff;
    font-size: 1rem;
}
.footer .footer__contact .item3{
    margin-top: 7rem;  
    line-height: 2; 
}
.footer .footer__contact .item3 h3{
    color: #fff;
    font-size: 1rem;
}
.footer .footer__contact .item4{
    margin-top: 9rem; 
    line-height: 2;  
}
.footer .footer__contact  a{
    color: #fff; 
    text-decoration: none;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.footer .footer__contact  a:hover{
    margin-left: 10px;
}
.footer .footer__contact .item5{
    margin-top: 7rem;  
}
.footer .footer__contact .item5 h3{
    color: #fff;
    font-size: 1rem;
}
.footer .footer__contact .item5 p{
    color: #fff;
    font-size: 0.8rem;
}
.footer .footer__contact .item5 input{
    background: #26294d;
    display: block;
    padding: 5px 15px;
    outline: 0!important;
    border: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.footer .footer__contact .item5 input:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,.2);

}
.copyright{
    width: 100%;
}
.copyright .copyright__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.copyright .container .item2{
    text-align: right;
    margin-top: 5rem;
    
}

.copyright .copyright__content .item2 i{
    margin-left: 15px;
    color: #fff;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.copyright .copyright__content .item2 i:hover{
    color: black;
}
.copyright .copyright__content .item{
    margin-top: 5rem;
}
.copyright .copyright__content .item h5{
    color: #fff;
    opacity: 0.6;
    font-size: 0.9rem;
}

